body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #E3F2FD;

  display: flex;              
  justify-content: center;   
  align-items: center;        
  height: 100vh;    
}

.container {
  background: white;
  padding: 16px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #0D47A1;
}

label {
  display: block;
  margin-top: 16px;
}

input {
  width: 95%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #689cd8;
}

button {
  margin-top: 16px;
  width: 100%;
  padding: 10px;
  background-color: #1976D2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #0D47A1;
}

#mensagem {
  margin-top: 12px;
  text-align: center;
  font-weight: bold;
  color: green;
}